# Ignore Play! working directory #
.eclipse
.cache
.history

*.iml
*.eml

dist
logs
target
tmp
test-result

server.pid

tmp/
bin/
project/project
project/target
projectFilesBackup*
/out
/db
/modules
/target

/logs/
/dist/
/.idea
/*.iml
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

project/activator-sbt-echo-play-shim.sbt
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt

application-log-*.gz

# core related ignores #
core/.classpath
core/.project
core/.settings/
core/bin/
core/.cache-main
core/.cache-tests
core/application-log-*.gz

# api related ignores #
api/.classpath
api/.project
api/.settings/
api/bin/
api/.cache-main
api/.cache-tests
api/application-log-*.gz

# web related ignores #
web/.classpath
web/.project
web/.settings/
web/.cache
web/bin/
web/.cache-main
web/.cache-tests
web/application-log-*.gz

# common related ignores #
common/.project
common/.classpath
common/.settings/
common/.cache
common/bin/
common/.cache-main
common/.cache-tests
common/application-log-*.gz

# persistence related ignores #
persistence/.project
persistence/.classpath
persistence/.settings/
persistence/.cache
persistence/bin/
persistence/.cache-main
persistence/.cache-tests
persistence/application-log-*.gz

# authserver related ignores #
authserver/.classpath
authserver/.project
authserver/.settings/
authserver/.cache
authserver/bin/
authserver/.cache-main
authserver/.cache-tests
authserver/application-log-*.gz

# notification related ignores #
notification/.classpath
notification/.project
notification/.settings/
notification/.cache
notification/bin/
notification/.cache-main
notification/.cache-tests
notification/application-log-*.gz

# search related ignores #
search/.classpath
search/.project
search/.settings/
search/.cache
search/bin/
search/.cache-main
search/.cache-tests
search/application-log-*.gz

# archive-utility ignores #
archive-utility/application-log-*.gz

# archive-utility ignores #
search-schedule/application-log-*.gz